/* Hide Thebe toolbar buttons */
.thebe-launch-button,
.thebe-status {
  display: none !important;
}

/* Style input and output boxes more like notebooks */
div.cell {
  background-color: #1e1e1e;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #444;
}

div.output {
  background-color: #111;
  border-radius: 5px;
  padding: 1em;
  color: #ccc;
}
